<!DOCTYPE HTML>
<html>
<meta Http-Equiv="Cache-Control" Content="no-cache">
<meta Http-Equiv="Pragma" Content="no-cache">
<meta Http-Equiv="Expires" Content="0"> 
    <head></head>
    <body>
        <p>
            Thank you!
            <a href="/">Login again</a>
        </p>
    </body>
</html>