<!DOCTYPE HTML>
<html>
<meta Http-Equiv="Cache-Control" Content="no-cache">
<meta Http-Equiv="Pragma" Content="no-cache">
<meta Http-Equiv="Expires" Content="0"> 

<script type="text/javascript" src="./vendor/jquery/jquery.min.js"></script>
    <head>
        <title>
            Thank you!
        </title>
    </head>
    <body style="background-color: #000000">
        <div class="thankyoudiv" style="position: relative; text-align: center;">
            <img src="./thanksx.png" style=" max-width: 100%;">
            <div class="namecentered" style="font-size: 50px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);color: rgb(151, 163, 158); font-family: 'Open Sans Light', Times, serif; font-weight:400;"><%= post_firstname[0].firstname%>!</div>

        </div>
        
    </body>
    <script>
        $('document').ready(function(){
            setTimeout(' window.location.href = "/"; ',10000);
        });
    </script>

</html> 